#barra {
    width: 500px;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 16px;
    justify-content: center;
}
button {
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}