.img-art {
    display: block;
    width: 200px;
    height: auto; 
    margin: 10px auto;
    justify-content: center;
}
.precio {
    color: rgb(0, 4, 255);
    font-weight: bold;
    font-size: 15px;
}