footer {
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 50px;
    font-family: 'Nunito', sans-serif;
}

.logo-footer {
    width: 200px;
    height: 200px; 
    margin-right: 20px;    
}
.historia {
    max-width: 400px;
    text-align: left;
}
@media (max-width: 768px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 20px;
        padding: 30px;
    }
    .logo-footer {
        width: 100px;
        height: 100px; 
        margin: 0 auto;  
    }
    .historia {
        max-width: 100%;
        text-align: center;
    }
    
}