.bg-nav-sup.bg-nav-sup{
    background-color: rgb(0, 0, 0);
    color: white;
}
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 5, 5);
    padding: 10px 20px;
}

img {
   width: 200px;
   height: auto;
}

.art-dest {
    display: block;
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    justify-content: center;
}
@media (max-width: 450px) {
    section {
        flex-direction: column;
        text-align: center;
    }
    img {
        width: 100px;
        height: auto;
    }
}