/*Reset de CSS | obligatorio*/
/*Font Nunito*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* font-family: "Nunito", sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* font-family: "Lora", serif;*/

.bg-nav-sup{
    background-color: rgb(0, 0, 0);
    color: white;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 5, 5);
    padding: 10px 20px;
}

img {
   width: 100px;
   height: auto;
}
#barra {
    width: 500px;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 16px;
    justify-content: center;
}
button {
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

div.border{
    display: inline-block;
    display: flex;
    background-color: rgb(219, 219, 5);
    justify-content: space-around
    border: 5px solid black;
}

.enlace-electricidad {
    width: 150px;
    height: auto;
    margin: 10px;
}
